.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  text-align: center;
}
#instructions{
  font-family: 'Bungee Spice', sans-serif; /* Ganti dengan font menarik Anda */
  font-size: 24px;
  transform: translate(-50%, -50%);
  color: white;
  margin-left: 74px;
  padding-top: 50px;
  

}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text {
  font-family: 'Bungee Spice', sans-serif; /* Ganti dengan font menarik Anda */
  font-size: 24px;
  position: absolute;
  top: 370px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}




.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropbtn {
    cursor: pointer;
    width: 300px; /* Atur lebar gambar */
    height: 350px; /* Atur tinggi gambar */
    margin-left: 185.8%;
    margin-top: -55%;
    transition: transform 0.3s ease-in-out; /* Tambahkan transisi untuk transform */
    border-radius:  30px; 
  }
  
  
  @keyframes dropdownSlideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(100%);
    }
  }
  
  @keyframes dropdownSlideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(-100%);
    }
  }
  

  .hide {
    animation: dropdownSlideUp 0.3s ease forwards; /* Terapkan animasi dropdown */
  }
  
  
  .dropdown-content.hide {
    animation: dropdownSlideUp 0.3s ease forwards; /* Terapkan animasi hide dropdown */
  }
  
  .dropdown:hover .dropdown-content {
    display:contents;
  }
  

  
  .dropdown:hover .dropdown-content,
  .dropdown-content:hover {
    display: block;
  }
  
  .mute-button {
    background-image: url('Speaker-on.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    cursor: pointer;
}



  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #EDEBE2;
    min-width: 160px;
    margin-left: 205%;
    margin-top: -130%;
    padding: 12px 16px;
    z-index: 1;
    transform: translateY(-80%);
    transition: transform 0.3s ease-in-out; /* Tambahkan transisi untuk transform */
    animation: dropdownSlideDown 0.3s ease forwards; /* Terapkan animasi dropdown */
  }
  
  .hide {
    animation: dropdownSlideUp 0.3s ease forwards; /* Terapkan animasi dropdown */
  }
  
  .dropdown-content.hide {
    animation: dropdownSlideUp 0.3s ease forwards; /* Terapkan animasi hide dropdown */
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropbtn:hover {
    transform: translateY(80px); /* Ubah posisi gambar saat tombol dihover */
  }
  
  

  
  .dropdown-content a {
    color: black;
    padding: 8px 0;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #e5e1d1;
  }
  